plotly
voila
ipywidgets
jupyter_contrib_nbextensions
ipympl
ipython
jupyter_server
pandas

pandas
xlrd
matplotlib
seaborn
patsy
numpy
psutil
requests
networkx
datashader
pyarrow
cufflinks
